input[type=text] {
  width: 300px;
  height: 50px;
  padding: 16x 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: large;
}


input[type=password] {
  width: 300px;
  height: 50px;
  padding: 16x 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: large;
  font: Monospace;
}


.container{
  font-size:14px;
  position: absolute;
  top: 60%;
  left: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 40em;
  height: 40em;
  text-align: center;
  overflow: hidden;
}
.field{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

#text{
  color:rgb(46, 16, 44);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}


.display-1 { 
  color: #111;
   font-family: 'Helvetica Neue', sans-serif;
    font-size: 190px;
     font-weight: bold;
      letter-spacing: -1px;
      line-height: 1;
   text-align: center;
  margin-left: 40%;
  margin-top: 11%; 
  background: linear-gradient(90deg, #000, #000, #000);
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 8s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.display-2 {
  color: #111;
   font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-left: 42%;
      letter-spacing: -1px;
      line-height: 1;
   text-align: center;
   background: linear-gradient(90deg, #000, #000, #000);
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 8s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
   }

body{
  overflow: hidden;
}

